<!doctype html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8" />

	<title>{{pageTitle | evaluate}} - {{site.name | evaluate}}</title>

	<!-- Canonical SEO -->
	<link rel="canonical" href="{{canonical | evaluate}}" />

	<!--	Social tags			-->
	<meta name="keywords" content="{{pageKeyword | evaluate}}" >
	<meta name="description" content="{{pageDes | evaluate}}" >

	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="{{pageTitle | evaluate}}">
	<meta itemprop="description" content="{{pageDes | evaluate}}">
	<meta itemprop="image" content="{% if pageImage %}{{pageImage | evaluate}}{% else %}{{usiteurl}}/public/favicon/fav_apple-touch-icon-57x57.{{site.favicon}}{% endif %}">

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@jurchin_ir">
	<meta name="twitter:title" content="{{pageTitle | evaluate}}">
	<meta name="twitter:description" content="{{pageDes | evaluate}}">
	<meta name="twitter:image" content="{% if pageImage %}{{pageImage | evaluate}}{% else %}{{usiteurl}}/public/favicon/fav_apple-touch-icon-57x57.{{site.favicon}}{% endif %}">

	<!-- Open Graph data -->
	<meta property="og:title" content="{{pageTitle | evaluate}}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{canonical | evaluate}}" />
	<meta property="og:image" content="{% if pageImage %}{{pageImage | evaluate}}{% else %}{{usiteurl}}/public/favicon/fav_apple-touch-icon-57x57.{{site.favicon}}{% endif %}"/>
	<meta property="og:description" content="{{pageDes | evaluate}}" />
	<meta property="og:site_name" content="{{site.sub}}" />



	<!-- favIcon -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{usiteurl}}/public/favicon/fav_apple-touch-icon-57x57.{{site.favicon}}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{usiteurl}}/public/favicon/fav_apple-touch-icon-60x60.{{site.favicon}}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{usiteurl}}/public/favicon/fav_apple-touch-icon-72x72.{{site.favicon}}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{usiteurl}}/public/favicon/fav_apple-touch-icon-76x76.{{site.favicon}}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{usiteurl}}/public/favicon/fav_apple-touch-icon-114x114.{{site.favicon}}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{usiteurl}}/public/favicon/fav_apple-touch-icon-120x120.{{site.favicon}}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{usiteurl}}/public/favicon/fav_apple-touch-icon-144x144.{{site.favicon}}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{usiteurl}}/public/favicon/fav_apple-touch-icon-152x152.{{site.favicon}}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{usiteurl}}/public/favicon/fav_apple-touch-icon-180x180.{{site.favicon}}">
	<link rel="icon" type="image/png" sizes="192x192" href="{{usiteurl}}/public/favicon/fav_icon-192x192.{{site.favicon}}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{usiteurl}}/public/favicon/fav_icon-32x32.{{site.favicon}}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{usiteurl}}/public/favicon/fav_icon-96x96.{{site.favicon}}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{usiteurl}}/public/favicon/fav_icon-16x16.{{site.favicon}}">
	<link rel="manifest" href="{{usiteurl}}/public/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">



	<link href="{{ editor('assets/themes/content/template.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ editor('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />


	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<style>
		body { background-color: #efefef;margin-bottom: 40px}
		.is-container {  margin: 60px auto ; max-width: 1050px; width:100%; padding:55px 35px 0px 35px;box-sizing:border-box; background-color: #f7f7f7;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);}
		@media all and (max-width: 1080px) {
			.is-container { margin:0; }
		}
	</style>

</head>
<body>
	<div id="content-page" style="direction: rtl;">

		<div id="contentEditable" class="is-container container">
			{{pageContent | evaluate}}
		</div>


		<script src="{{ editor('assets/js/jquery.min.js') }}" type="text/javascript"></script>
		<script src="{{ editor('assets/js/tether.min.js') }}" type="text/javascript"></script>
		<script src="{{ editor('assets/js/bootstrap.min.js') }}" type="text/javascript"></script>

	</div>
</body>
</html>
