<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{pageTitle | evaluate }}</title>


    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!--  Social tags      -->
    <meta name="keywords" content="{{pageKeyword | evaluate }}">
    <meta name="description" content="{{pageDes | evaluate }}">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{pageTitle | evaluate }}">
    <meta itemprop="description" content="{{pageDes | evaluate }}">
    <meta itemprop="image" content="{{pageImage | evaluate }}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{pageTitle | evaluate }}">
    <meta name="twitter:description" content="{{pageDes | evaluate }}.">
    <meta name="twitter:image" content="{{pageImage | evaluate }}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{pageTitle | evaluate }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{usiteurl | evaluate }}">
    <meta property="og:image" content="{{pageImage | evaluate }}">
    <meta property="og:description" content="{{pageDes | evaluate }}">

    <!-- favIcon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{usiteurl}}/public/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{usiteurl}}/public/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{usiteurl}}/public/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{usiteurl}}/public/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{usiteurl}}/public/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{usiteurl}}/public/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{usiteurl}}/public/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{usiteurl}}/public/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{usiteurl}}/public/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{usiteurl}}/public/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{usiteurl}}/public/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{usiteurl}}/public/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{usiteurl}}/public/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{usiteurl}}/public/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{usiteurl}}/public/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">



    <!-- Stylesheets -->
    <link href="{{usiteurl}}/public/css/UsedFonts/fonts.css" rel="stylesheet">
    <link href="{{usiteurl}}/public/css/icons/css/jurchinIcons.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{{templateUrl}}/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{usiteurl}}/public/templates/template.css">




    <!-- CSS | ScrollPane -->
    <!-- Credits: http://jscrollpane.kelvinluck.com -->
    <link rel="stylesheet" type="text/css" href="{{templateUrl}}/css/jquery.jscrollpane.min.css" />

    <!-- CSS | Normalize -->
    <!-- Credits: http://necolas.github.io/normalize.css -->
    <link rel="stylesheet" type="text/css" href="{{templateUrl}}/css/normalize.min.css" />

    <!-- CSS | Boilerplate -->
    <!-- Credits: http://html5boilerplate.com -->
    <link rel="stylesheet" type="text/css" href="{{templateUrl}}/css/boilerplate.min.css" />

    <!-- CSS | Font Awesome Icons -->
    <!-- Credits: http://fortawesome.github.io/Font-Awesome -->
    <link rel="stylesheet" type="text/css" href="{{templateUrl}}/css/icons/font-awesome.min.css" />

    <!-- CSS | Style -->
    <!-- Credits: http://themeforest.net/user/Ararazu -->
    <link rel="stylesheet" type="text/css" href="{{templateUrl}}/css/style.css" />

    <!-- CSS | Colors -->
    <link rel="stylesheet" type="text/css" href="{{templateUrl}}/css/colors/black.css" id="color" />
    <!-- <link rel="stylesheet" type="text/css" href="{{templateUrl}}/css/colors/custom.css" id="color" /> -->
    <link rel="stylesheet" type="text/css" href="{{templateUrl}}/css/colors/default.min.css" id="color" />

    <!-- CSS | Color Chooser -->
    <!-- <link rel="stylesheet" type="text/css" href="{{templateUrl}}/css/colors/chooser.min.css" /> -->

    <!-- CSS | Basic jQuery Slider -->
    <!-- Credits: http://www.basic-slider.com -->
    <link rel="stylesheet" type="text/css" href="{{templateUrl}}/css/bjqs.min.css" />

    <!-- CSS | jQuery Responsive Lightbox -->
    <!-- Credits: https://github.com/duncanmcdougall/Responsive-Lightbox -->
    <link rel="stylesheet" type="text/css" href="{{templateUrl}}/css/jquery.lightbox.min.css" />

    <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="{{templateUrl}}/css/icons/font-awesome-ie7.min.css"/>
    <![endif]-->

</head>
<body class="bg01">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="loading_page"><img src="{{templateUrl}}/img/loading.gif" alt="Loading"></div>


    <!-- Main Body - Center -->
    <div id="all" class="clearfix">

        <!-- Left Section -->
        <section id="leftSection">
            <div id="columnLeft" class="bgLight box-shadow box-sizing">
                <div class="content">
                    <div class="inner">

                        <!-- Profile Photo -->
                        <div class="col c1">
                            <section id="box-photo" class="box-sizing">
                                <a href="#profile" class="menu">
                                    <img id="photo" alt="Profile Photo" src="{{templateUrl}}/img/profile/photo.jpg" width="250" height="250" class="box-sizing inner-shadow" />
                                </a>
                            </section>
                        </div>
                        <!-- End Profile Photo -->

                        <!-- Name and Post -->
                        <div id="mainInfo">
                            <h1 id="name" class="transition-02">مدیریت سایت</h1>

                            <h2 class="line"></h2>
                            <h2 class="line">برنامه نویس و طراح سایت</h2>
                            <h2 class="line">هاستینگ و ثبت دامنه</h2>
                            <h2 class="line">طراح آرم و لوگو</h2>
                        </div>
                        <!-- End Name and Post -->

                        <!-- Bio -->
                        <section id="bio">
                            <p>با سلام . به سایت من خوش آمدید . از اینکه ما را برای میزبانی خود انتخاب کرده اید متشکریم . امید واریم با هم لحظاتی خوش و شاد بیافرینیم</p>
                            <p>
                            در حال حاضر با <a href="http://jurchin.com" target="_blank">وب سایت گروه جورچین</a> در خدمت شما هستیم ولی این موضوع همیشگی نخواهد بود و به زودی دیگر سایت های جورچین رونمایی خواهد شد . برای اطلاعات بیشتر به قسمت رزومه بروید </p>
                        </section>
                        <!-- End Bio -->

                        <!-- Social Profiles -->
                        <section id="social">
                            <h2 class="line">ما را در شبکه های اجتماعی محبوب کنید</h2>
                            <a href="#" class="first"><i class="icon-facebook"></i></a>
                            <a href="#"><i class="icon-twitter"></i></a>
                            <a href="#"><i class="icon-linkedin"></i></a>
                            <a href="#"><i class="icon-google-plus"></i></a>
                            <a href="#" class="last"><i class="icon-rss"></i></a>
                            <div class="clear"></div>
                        </section>
                        <!-- End Social Profiles -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Left Section -->

        <!-- Right Section -->
        <section id="rightSection">

            {{pageContent | evaluate}}

            <!-- Copyright and Back to top -->
            <section id="copyright">
                <p>طراحی و اجرا از گروه جورچین<a class="to-top">پرش به بالا <i class="icon-arrow-up"></i>&nbsp;</a></p>
            </section>
            <!-- End Copyright and Back to top -->

        </section>
        <!-- End Right Section -->

    </div>
    <!-- End Main Body - Center -->

    <!-- jQuery 1.10.2 -->
    <!-- Credits: http://jquery.com -->
    <script type="text/javascript" src="{{templateUrl}}/js/jquery-1.10.2.min.js"></script>

    <!-- Js | Modernizr -->
    <!-- Credits: http://modernizr.com/ -->
    <script type="text/javascript" src="{{templateUrl}}/js/vendor/modernizr-2.6.2.min.js"></script>

    <!-- HTML5 Compatibility - HTML5 Boilerplate -->
    <!-- Credits: http://html5boilerplate.com -->
    <script>window.jQuery || document.write('<script src="{{templateUrl}}/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="{{templateUrl}}/js/plugins.js"></script>

    <!-- Page Scroll - jScrollPane -->
    <!-- Credits: http://jscrollpane.kelvinluck.com -->
    <script type="text/javascript" src="{{templateUrl}}/js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="{{templateUrl}}/js/mwheelIntent.min.js"></script>
    <script type="text/javascript" src="{{templateUrl}}/js/jquery.jscrollpane.min.js"></script>

    <!-- Profile Page - Basic jQuery Slider -->
    <!-- Credits: http://www.basic-slider.com -->
    <script type="text/javascript" src="{{templateUrl}}/js/bjqs-1.3.min.js"></script>

    <!-- Portfolio Page - Direction Aware Hover Effect -->
    <!-- Credits: http://tympanus.net/TipsTricks/DirectionAwareHoverEffect -->
    <script type="text/javascript" src="{{templateUrl}}/js/jquery.hoverdir.min.js"></script>
    <script type="text/javascript">$(function() { $('.da-thumbs > li').each( function() { $(this).hoverdir(); } ); });</script>

    <!-- Portfolio Page - jQuery Responsive Lightbox -->
    <!-- Credits: https://github.com/duncanmcdougall/Responsive-Lightbox -->
    <script type="text/javascript" src="{{templateUrl}}/js/jquery.lightbox.min.js"></script>

    <!-- Contact Page - jQuery Validate -->
    <!-- Credits: http://jqueryvalidation.org/ -->
    <script type="text/javascript" src="{{templateUrl}}/js/jquery.validate.min.js"></script>

    <!-- My Scripts - You can modify to create new interactions -->
    <!-- Credits: http://themeforest.net/user/Ararazu -->
    <script type="text/javascript" src="{{templateUrl}}/js/myscripts.js"></script>
</body>
</html>
