
.jr-icon-emo-thumbsup:before { content: '\e800'; } /* '' */
.jr-icon-jurchin:before { content: '\e801'; } /* '' */
.jr-icon-emo-unhappy:before { content: '\e802'; } /* '' */
.jr-icon-emo-wink:before { content: '\e803'; } /* '' */
.jr-icon-home:before { content: '\e804'; } /* '' */
.jr-icon-emo-happy:before { content: '\e805'; } /* '' */
.jr-icon-emo-surprised:before { content: '\e806'; } /* '' */
.jr-icon-emo-tongue:before { content: '\e807'; } /* '' */
.jr-icon-emo-coffee:before { content: '\e808'; } /* '' */
.jr-icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.jr-icon-emo-displeased:before { content: '\e80a'; } /* '' */
.jr-icon-emo-beer:before { content: '\e80b'; } /* '' */
.jr-icon-emo-grin:before { content: '\e80c'; } /* '' */
.jr-icon-emo-angry:before { content: '\e80d'; } /* '' */
.jr-icon-emo-saint:before { content: '\e80e'; } /* '' */
.jr-icon-emo-cry:before { content: '\e80f'; } /* '' */
.jr-icon-emo-shoot:before { content: '\e810'; } /* '' */
.jr-icon-emo-squint:before { content: '\e811'; } /* '' */
.jr-icon-emo-laugh:before { content: '\e812'; } /* '' */
.jr-icon-emo-wink2:before { content: '\e813'; } /* '' */
.jr-icon-emo-devil:before { content: '\e814'; } /* '' */
.jr-icon-emo-sleep:before { content: '\e815'; } /* '' */
.jr-icon-pencil-1:before { content: '\e816'; } /* '' */
.jr-icon-attach:before { content: '\e817'; } /* '' */
.jr-icon-globe:before { content: '\e818'; } /* '' */
.jr-icon-list-alt:before { content: '\e819'; } /* '' */
.jr-icon-minus-1:before { content: '\e81a'; } /* '' */
.jr-icon-location:before { content: '\e81b'; } /* '' */
.jr-icon-th-list-1:before { content: '\e81c'; } /* '' */
.jr-icon-th-1:before { content: '\e81d'; } /* '' */
.jr-icon-star:before { content: '\e81e'; } /* '' */
.jr-icon-resize-vertical:before { content: '\e81f'; } /* '' */
.jr-icon-align-justify-1:before { content: '\e820'; } /* '' */
.jr-icon-th-large-1:before { content: '\e821'; } /* '' */
.jr-icon-videocam-1:before { content: '\e822'; } /* '' */
.jr-icon-video:before { content: '\e823'; } /* '' */
.jr-icon-book:before { content: '\e824'; } /* '' */
.jr-icon-down-open:before { content: '\e827'; } /* '' */
.jr-icon-user:before { content: '\e828'; } /* '' */
.jr-icon-camera-alt:before { content: '\e82a'; } /* '' */
.jr-icon-picture-1:before { content: '\e82c'; } /* '' */
.jr-icon-graduation-cap:before { content: '\e82e'; } /* '' */
.jr-icon-firefox:before { content: '\e840'; } /* '' */
.jr-icon-chrome:before { content: '\e841'; } /* '' */
.jr-icon-opera:before { content: '\e842'; } /* '' */
.jr-icon-ie:before { content: '\e843'; } /* '' */
.jr-icon-fontsize:before { content: '\e900'; } /* '' */
.jr-icon-italic:before { content: '\e901'; } /* '' */
.jr-icon-indent-left:before { content: '\e902'; } /* '' */
.jr-icon-indent-right:before { content: '\e903'; } /* '' */
.jr-icon-unlink:before { content: '\e904'; } /* '' */
.jr-icon-link:before { content: '\e905'; } /* '' */
.jr-icon-align-left:before { content: '\e906'; } /* '' */
.jr-icon-align-center:before { content: '\e907'; } /* '' */
.jr-icon-align-right:before { content: '\e908'; } /* '' */
.jr-icon-align-justify:before { content: '\e909'; } /* '' */
.jr-icon-list-numbered:before { content: '\e90a'; } /* '' */
.jr-icon-list-bullet:before { content: '\e90b'; } /* '' */
.jr-icon-camera:before { content: '\e90c'; } /* '' */
.jr-icon-move:before { content: '\e90d'; } /* '' */
.jr-icon-eraser:before { content: '\e90e'; } /* '' */
.jr-icon-pencil:before { content: '\e90f'; } /* '' */
.jr-icon-underline:before { content: '\e910'; } /* '' */
.jr-icon-bold:before { content: '\e911'; } /* '' */
.jr-icon-strike:before { content: '\e912'; } /* '' */
.jr-icon-code:before { content: '\e913'; } /* '' */
.jr-icon-plus:before { content: '\e914'; } /* '' */
.jr-icon-spin:before { content: '\e915'; } /* '' */
.jr-icon-docs:before { content: '\e916'; } /* '' */
.jr-icon-cancel:before { content: '\e917'; } /* '' */
.jr-icon-color:before { content: '\e918'; } /* '' */
.jr-icon-tint:before { content: '\e919'; } /* '' */
.jr-icon-header-1:before { content: '\e91a'; } /* '' */
.jr-icon-font:before { content: '\e91b'; } /* '' */
.jr-icon-picture:before { content: '\e91d'; } /* '' */
.jr-icon-superscript:before { content: '\e91e'; } /* '' */
.jr-icon-subscript:before { content: '\e91f'; } /* '' */
.jr-icon-dot:before { content: '\e920'; } /* '' */
.jr-icon-trash:before { content: '\e921'; } /* '' */
.jr-icon-ok:before { content: '\e922'; } /* '' */
.jr-icon-download:before { content: '\e923'; } /* '' */
.jr-icon-doc:before { content: '\e924'; } /* '' */
.jr-icon-cog:before { content: '\e925'; } /* '' */
.jr-icon-off:before { content: '\e926'; } /* '' */
.jr-icon-minus:before { content: '\e927'; } /* '' */
.jr-icon-back:before { content: '\e928'; } /* '' */
.jr-icon-left-open-big:before { content: '\e929'; } /* '' */
.jr-icon-right-open-big:before { content: '\e930'; } /* '' */
.jr-icon-video-1:before { content: '\e931'; } /* '' */
.jr-icon-wrench:before { content: '\e932'; } /* '' */
.jr-icon-file-code:before { content: '\e933'; } /* '' */
.jr-icon-table-1:before { content: '\e934'; } /* '' */
.jr-icon-ticket:before { content: '\e935'; } /* '' */
.jr-icon-smile:before { content: '\e936'; } /* '' */
.jr-icon-cubes:before { content: '\e937'; } /* '' */
.jr-icon-brush:before { content: '\e938'; } /* '' */
.jr-icon-phone-squared:before { content: '\f098'; } /* '' */
.jr-icon-twitter:before { content: '\f099'; } /* '' */
.jr-icon-facebook:before { content: '\f09a'; } /* '' */
.jr-icon-table:before { content: '\f0ce'; } /* '' */
.jr-icon-gplus:before { content: '\f0d5'; } /* '' */
.jr-icon-columns:before { content: '\f0db'; } /* '' */
.jr-icon-mail-alt:before { content: '\f0e0'; } /* '' */
.jr-icon-linkedin:before { content: '\f0e1'; } /* '' */
.jr-icon-lightbulb:before { content: '\f0eb'; } /* '' */
.jr-icon-coffee:before { content: '\f0f4'; } /* '' */
.jr-icon-desktop:before { content: '\f108'; } /* '' */
.jr-icon-laptop:before { content: '\f109'; } /* '' */
.jr-icon-tablet:before { content: '\f10a'; } /* '' */
.jr-icon-mobile:before { content: '\f10b'; } /* '' */
.jr-icon-quote-right:before { content: '\f10e'; } /* '' */
.jr-icon-info:before { content: '\f129'; } /* '' */
.jr-icon-puzzle:before { content: '\f12e'; } /* '' */
.jr-icon-rocket:before { content: '\f135'; } /* '' */
.jr-icon-dollar:before { content: '\f155'; } /* '' */
.jr-icon-youtube:before { content: '\f167'; } /* '' */
.jr-icon-tumblr:before { content: '\f173'; } /* '' */
.jr-icon-bank:before { content: '\f19c'; } /* '' */
.jr-icon-git:before { content: '\f1d3'; } /* '' */
.jr-icon-paper-plane:before { content: '\f1d8'; } /* '' */
.jr-icon-header:before { content: '\f1dc'; } /* '' */
.jr-icon-share:before { content: '\f1e0'; } /* '' */
.jr-icon-newspaper:before { content: '\f1ea'; } /* '' */
.jr-icon-object-group:before { content: '\f247'; } /* '' */
.jr-icon-object-ungroup:before { content: '\f248'; } /* '' */
.jr-icon-vimeo:before { content: '\f27d'; } /* '' */
.jr-icon-shopping-bag:before { content: '\f290'; } /* '' */
.jr-icon-envira:before { content: '\f299'; } /* '' */
.jr-icon-handshake-o:before { content: '\f2b5'; } /* '' */
.jr-icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.jr-icon-user-circle:before { content: '\f2bd'; } /* '' */
.jr-icon-user-o:before { content: '\f2c0'; } /* '' */
.jr-icon-id-card-o:before { content: '\f2c3'; } /* '' */