@font-face {
	font-family: 'BNazanin';
	src: url('BNazanin.eot?#') format('eot'),
	url('BNazanin.ttf') format('truetype'),
	url('BNazanin.woff') format('woff');
	font-style: normal;
	font-style: normal;
}