<section id="home" name="home"></section><div id="headerwrap">
    <div class="container">
        <div class="row centered" style="color: rgb(85, 85, 85) !important;">
            <div class="col-lg-12">
                <h1>به <b>جورچین</b> خوش آمدید</h1>
                <h3>طراحی و ساخت سایت هیچ وقت به این سادگی نبوده است .</h3>
                <br>
</div>
            <div class="col-lg-2">
                <br><img class="hidden-xs hidden-sm hidden-md" src="http://karahrm.ir/public/templates/pratt/assets/img/arrow2.png"><h5 class="irsans">طرح های گوناگون</h5>
                <p>بیش از 400 طرح با قابلیت شخصی سازی در اختیارتان قرار دارد </p>
            </div>
            <div class="col-lg-8">
                <img class="img-responsive topImage" src="http://karahrm.ir/public/templates/pratt/assets/img/templateImageTop.png" alt="">
</div>
            <div class="col-lg-2">
                <h5 class="irsans">بدون نیاز به برنامه نویسی</h5>
                <p>در جورچین شما نه تنها به کدنویسی نیاز ندارید بلکه میتوانید به سادگی کدنویسی یادبگیرید</p>
                <img class="hidden-xs hidden-sm hidden-md" src="http://karahrm.ir/public/templates/pratt/assets/img/arrow1.png">
</div>
        </div>
    </div>
    <!--/ .container -->
</div>
<!--/ #headerwrap -->
<section id="desc" name="desc"></section><!-- INTRO WRAP --><div id="intro">
    <div class="container">

        <div class="row centered">
            <h2>ویژگی های سیستم<br>
</h2>
            <br><br><div class="col-lg-4">
                <img src="http://karahrm.ir/public/templates/pratt/assets/img/intro01.png" alt=""><h3>ارتباطات</h3>
                <p>برای ارتباط بیشتر با ما می توانید از راه هنای ارتباطی موجود در صفحه تماس با ما اقدام کنید</p>
            </div>
            <div class="col-lg-4">
                <img src="http://karahrm.ir/public/templates/pratt/assets/img/intro02.png" alt=""><h3>وظایف</h3>
                <p>وظایف اصلی ما تحویل محصولات در منزل شماست . میتونید وظاف روزانه ای مشخص کنید که هر روز سر زمان مشخص براتون مرسوله خاصی رو بیاریم</p>
            </div>
            <div class="col-lg-4">
                <img src="http://karahrm.ir/public/templates/pratt/assets/img/intro03.png" alt=""><h3>مانیتورینگ</h3>
                <p>سیستم مرسوله شما رو روی نقشه مشخص میکنه که در چه موقعیتی هست و چه مسیری رو طی کرده تا بدستتون برسه</p>
            </div>
        </div>






















        <hr>
</div>
    <!--/ .container -->
</div>
<!--/ #introwrap -->
<!-- FEATURES WRAP -->
<!-- FEATURES WRAP -->
<div id="features">
  <div class="container">





















            
<div class="row  added">

		<div class="col-md-12 ">

			<hr>
</div>

	</div>
        <div class="row">
      <h2 class="centered">اخبار <br>
</h2>
      <br><br><div class="col-lg-6 centered">
        <img class="centered" src="http://karahrm.ir/public/templates/pratt/assets/img/mobile.png" alt="">
</div>

      <div class="col-lg-6">
        <h3>اخیرا چه رخدادهایی داشتیم</h3>
        <br><!-- ACCORDION --><div class="accordion ac" id="accordion2">
                  <div class="accordion-group">
                      <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                          تب اول
                          </a>
                      </div>
<!-- /accordion-heading -->
                      <div id="collapseOne" class="accordion-body collapse in">
                          <div class="accordion-inner">
              <p class="justify">لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید</p>
              </div>
<!-- /accordion-inner -->
                      </div>
<!-- /collapse -->
                  </div>
<!-- /accordion-group -->
                  <br><div class="accordion-group">
                      <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                          تب دوم
                          </a>
                      </div>
                      <div id="collapseTwo" class="accordion-body collapse">
                          <div class="accordion-inner">
              <p class="justify">لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید</p>
              </div>
<!-- /accordion-inner -->
                      </div>
<!-- /collapse -->
                  </div>
<!-- /accordion-group -->
                  <br><div class="accordion-group">
                      <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                          تب سوم
                          </a>
                      </div>
                      <div id="collapseThree" class="accordion-body collapse">
                          <div class="accordion-inner">
              <p class="justify">لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید</p>
              </div>
<!-- /accordion-inner -->
                      </div>
<!-- /collapse -->
                  </div>
<!-- /accordion-group -->
                  <br><div class="accordion-group">
                      <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                          تب چهارم
                          </a>
                      </div>
                      <div id="collapseFour" class="accordion-body collapse">
                          <div class="accordion-inner">
              <p class="justify">لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید</p>
              </div>
<!-- /accordion-inner -->
                      </div>
<!-- /collapse -->
                  </div>
<!-- /accordion-group -->
                  <br>
</div>
<!-- Accordion -->
      </div>
    </div>

	



            
        


  </div>
<!--/ .container -->
</div>
<!--/ #features -->




  	<section id="showcase" name="showcase"><div class="container">
  			<div class="ui-draggable firefox"><div class="ui-draggable firefox"><div class="ui-draggable firefox"><div class="ui-draggable firefox"><div class="ui-draggable firefox"><div class="ui-draggable firefox"><div class="ui-draggable firefox"><div class="ui-draggable firefox"><div class="ui-draggable firefox"><div class="ui-draggable firefox"><div class="ui-draggable firefox"><div class="ui-draggable firefox"><div class="ui-draggable firefox"><div class="ui-draggable firefox"><div class="ui-draggable firefox"><div class="ui-draggable firefox"><div class="ui-draggable firefox"><div class="ui-draggable"><div class="ui-draggable"><div class="row">
  				<h2 class="centered white"> چند تا نمونه</h2>
  				<br><div class="col-lg-8 col-lg-offset-2">
  					<div id="carousel-example-generic" class="carousel slide jrSlider">
  					  <!-- Indicators -->
  					  <ol class="carousel-indicators" style="bottom: -50px;">
<li data-target="#carousel-example-generic" data-slide-to="0">
  					    </li>
<li data-target="#carousel-example-generic" data-slide-to="1" class="active">
  					  </li>
</ol>
<!-- Wrapper for slides --><div class="carousel-inner">
  					    <div class="item">
  					      <img src="http://karahrm.ir/public/templates/pratt/assets/img/item-01.png" alt="">
</div>
  					    <div class="item active">
  					      <img src="http://karahrm.ir/public/templates/pratt/assets/img/item-02.png" alt="">
</div>
  					  </div>

        			<a class="pointers carousel-control-prev right carousel-control " href="#carouselExampleSlidesOnly " role="button " data-slide="prev ">
        				<span class="pointerText sr-only "> قبلی</span>
        				<span class="carousel-control-prev-icon " aria-hidden="true "></span>
        			</a>
        			<a class="pointers carousel-control-next left carousel-control " href="#carouselExampleSlidesOnly " role="button " data-slide="next ">
        				<span class="carousel-control-next-icon " aria-hidden="true "></span>
        				<span class="pointerText sr-only "> بعدی</span>
        			</a>
  					</div>
  				</div>
  			</div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div>
</div>
  			<br><br><br><!-- /container --></section><section id="contact" name="contact"></section><div id="footerwrap">
  		<div class="container">
  			<div class="col-lg-5">
  				<h3>آدرس</h3>
  				<p>
  				میدان شریعتی, به سمت سه راه دانش , مجتمع جاویدان<br>
  				اردبیل , استان اردبیل <br>
  				ایران
  				</p>
  			</div>

  			<div class="col-lg-7">
  				<h3>نیاز به مشاوره دارم</h3>
  				<br><form role="form" action="#" method="post" enctype="plain">
  				  <div class="form-group">
  				    <label for="name1">نام شما</label>
  				    <input name="Name" class="form-control" id="name1" placeholder="نام شما" type="name">
</div>
  				  <div class="form-group">
  				    <label for="email1">آدرس ایمیل</label>
  				    <input name="Mail" class="form-control" id="email1" placeholder="آدرس ایمیل" type="email">
</div>
  				  <div class="form-group">
  				  	<label>پیام شما</label>
  				  	<textarea class="form-control" name="Message" rows="3"></textarea>
</div>
  				  <br><button type="submit" class="btn btn-large btn-success">ارسال</button>
  				</form>
  			</div>
  		</div>
  	</div>
