@font-face {
  font-family: 'GanjNamehSans';
  src: url('GanjNamehSans-Regular.woff') format('woff'),
  url('GanjNamehSans-Regular.eot') format('eot'),
  url('GanjNamehSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}