@font-face {
	font-family: 'BKoodakBold';
	src: local('BKoodak'), local('BKoodadBold'), url('BKoodakBold.eot?#') format('eot'),
	url('BKoodakBold.ttf') format('truetype'),
	url('BKoodakBold.woff') format('woff');
	font-style: normal;
	font-style: normal;
}