
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-right">
                        <ul class="footerlinks">
                            <li>
                                <a href="{{siteurl}}">
                                    خانه
                                </a>
                            </li>
                            <li>
                                <a href="{{siteurl}}blog">
                                   بلاگ
                                </a>
                            </li>
                            <li>
                                <a href="{{siteurl}}faq">
                                    سوالات متداول
                                </a>
                            </li>
                            <li>
                                <a href="{{siteurl}}aboutUs">
                                    درباره ما
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-left">
                        &copy; <script>document.write(new Date().getFullYear())</script>
                        <a href="{{siteurl}}"> جورچین</a>, <span id="jorchinSaid"></span>
                    </p>
                </div>
            </footer>
