			<nav class="navbar navbar-transparent navbar-absolute">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{{canonical | evaluate}}">
							{{pageTitle}}
						</a>

					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-left topLinks">


							{% if user | length != 1 %}

							<li>
								<a href="{{siteurl}}Auth/Login" rel="tooltip" data-placement="bottom" title="ورود" >
									<i class="fa fa-sign-in"></i>
									<p class="hidden-lg hidden-md">ورود به سامانه</p>
								</a>
							</li>
							{% else %}

							{% if (controller|lower != 'main') %}

							<li>
								<a href="{{siteurl}}Dashboard/Main" rel="tooltip" data-placement="bottom" title="داشبورد مدیریتی" >
									<i class="material-icons">dashboard</i>
									<p class="hidden-lg hidden-md"> داشبورد</p>
								</a>
							</li>
							{% endif %}
							<li>
								<a href="{{siteurl}}" rel="tooltip" data-placement="bottom" title="مشاهده سایت" target="_blank">
									<i class="fa fa-eye"></i>
									<p class="hidden-lg hidden-md">مشاهده سایت</p>
								</a>
							</li>

							{% endif %}




							<li class="dropdown" data-color="blue">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								   <i class="fa fa-user"></i>
								   <p class="hidden-lg hidden-md">پروفایل</p>
								</a>

								<ul class="dropdown-menu userPanel"  data-color="blue">
									<li class="userInfo">
										<img src="{{user.avatar}}" /> سلام {{user.firstname}} !
									</li>


									{% if user | length != 1 %}
									<li>
										<a href="{{siteurl}}Auth/Login" title="ورود به سامانه" >
											<i class="fa fa-sign-in ml5"></i> ورود به سایت
										</a>
									</li>

									<li>
										<a href="{{siteurl}}Auth/Register" title="{{sitename}} در سامانه" >
											<i class="fa fa-user-plus ml5"></i> عضویت
										</a>
									</li>
									{% else %}
									<li>
										<a href="{{siteurl}}Dashboard/Account/ChangePassword">
											تغییر رمز عبور
										</a>
									</li>
									<li>
										<a href="{{siteurl}}Dashboard/Account">
											تنظیمات حساب
										</a>
									</li>

									<li class="divider"></li>
									<li>
										<a href="{{user.logOutLink}}">خروج</a>
									</li>
									{% endif %}
								</ul>
							</li>
						</ul>

					</div>
				</div>
			</nav>
