<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> قالب آماده جورچین شماره 2</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co">
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive">
	<meta name="author" content="freehtml5.co">


  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="">
	<meta property="og:image" content="">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="">
	<meta property="og:description" content="">
	<meta name="twitter:title" content="">
	<meta name="twitter:image" content="">
	<meta name="twitter:url" content="">
	<meta name="twitter:card" content="">

	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="http://karahrm.ir/public/templates/joseph/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="http://karahrm.ir/public/templates/joseph/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="http://karahrm.ir/public/templates/joseph/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="http://karahrm.ir/public/templates/joseph/css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="http://karahrm.ir/public/templates/joseph/css/owl.carousel.min.css">
	<link rel="stylesheet" href="http://karahrm.ir/public/templates/joseph/css/owl.theme.default.min.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="http://karahrm.ir/public/templates/joseph/css/flexslider.css">

	<!-- Pricing -->
	<link rel="stylesheet" href="http://karahrm.ir/public/templates/joseph/css/pricing.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="http://karahrm.ir/public/templates/joseph/css/style.css">

	<!-- Modernizr JS -->
	<script src="http://karahrm.ir/public/templates/joseph/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	
	


	<div class="fh5co-loader" style="display: none;"></div>

	<div id="page"><a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle fh5co-nav-white"><i></i></a><div id="fh5co-offcanvas"><ul>
							<li class="active"><a href="index.html">خانه</a></li>
							<li><a href="courses.html">دوره آموزش</a></li>
							<li><a href="about.html">درباره ما</a></li>
							<li><a href="pricing.html">نرخ های ما </a></li>
							<li><a href="contact.html">ارتباط با ما</a></li>
						</ul></div>
	<nav class="fh5co-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-4">
						<div id="fh5co-logo"><a href="index.html">سیستم آموزشی </a></div>
					</div>
					<div class="col-xs-12 col-md-8 text-left menu-1">
						<ul>
							<li class="active"><a href="index.html">خانه</a></li>
							<li><a href="courses.html">دوره آموزش</a></li>
							<li><a href="about.html">درباره ما</a></li>
							<li><a href="pricing.html">نرخ های ما </a></li>
							<li><a href="contact.html">ارتباط با ما</a></li>
						</ul>


					</div>
				</div>

			</div>
		</div>
	</nav>

	<aside id="fh5co-hero">
		<div class="flexslider">
			
	  	<div class="flex-viewport" style="overflow: hidden; position: relative; height: 630px;"><ul class="slides" style="height: 1000%; position: absolute; width: 100%; transition-duration: 0s; transform: translate3d(0px, -630px, 0px);"><li style="background-image: url("http://uupload.ir/files/8wr5_8490323_orig.jpg"); display: block;" class="clone" aria-hidden="true">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1>ما به شما کمک میکنیم تا دیده شوید </h1>
									<h2>با جورچین راحت کار کنید </h2>
									<p><a class="btn btn-primary btn-lg btn-learn" href="#">شروع کن!</a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url("http://uupload.ir/files/m52f_yourstory-education.jpg"); display: block;" class="flex-active-slide" data-thumb-alt="">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text animated fadeInUp">
			   				<div class="slider-text-inner">
			   					<h1>جورچین همیشه در کنار شماست </h1>
									<h2>با جورچین راحت کار کنید  </h2>
									<p><a class="btn btn-primary btn-lg" href="#">شروع کن!</a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url("http://uupload.ir/files/3bsq_whyhk-world-class-education.jpg"); display: block;" data-thumb-alt="">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1>خود را معرفی کنید : سایت ساز جورچین</h1>
									<h2>با جورچین راحت کار کنید</h2>
									<p><a class="btn btn-primary btn-lg btn-learn" href="#">شروع کن!</a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url("http://uupload.ir/files/8wr5_8490323_orig.jpg"); display: block;" data-thumb-alt="">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1>ما به شما کمک میکنیم تا دیده شوید </h1>
									<h2>با جورچین راحت کار کنید </h2>
									<p><a class="btn btn-primary btn-lg btn-learn" href="#">شروع کن!</a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		  	<li style="background-image: url("http://uupload.ir/files/m52f_yourstory-education.jpg"); display: block;" class="clone" aria-hidden="true">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1>جورچین همیشه در کنار شماست </h1>
									<h2>با جورچین راحت کار کنید  </h2>
									<p><a class="btn btn-primary btn-lg" href="#">شروع کن!</a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li></ul></div><ol class="flex-control-nav flex-control-paging"><li><a href="#" class="flex-active">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li><li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li></ul></div>
	</aside>

	<div id="fh5co-course-categories">
		<div class="container">
			<div class="row animate-box fadeInUp animated-fast">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>طبقه بندی دروس</h2>
					<p>دوره های آموزشی جورچچین به شما امکان یادگیری سریع و پویا بودن را میدهد در دوره های آموزشی جورچین شرکت کنید </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6 text-center animate-box fadeInUp animated-fast">
					<div class="services">
						<span class="icon">
							<i class="icon-shop"></i>
						</span>
						<div class="desc">
							<h3><a href="#">جورچین</a></h3>
							<p>دوره های آموزشی جورچچین به شما امکان یادگیری سریع و پویا بودن را میدهد در دوره های آموزشی جورچین شرکت کنید.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box fadeInUp animated-fast">
					<div class="services">
						<span class="icon">
							<i class="icon-heart4"></i>
						</span>
						<div class="desc">
							<h3><a href="#">جورچین </a></h3>
							<p>دوره های آموزشی جورچچین به شما امکان یادگیری سریع و پویا بودن را میدهد در دوره های آموزشی جورچین شرکت کنید.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box fadeInUp animated-fast">
					<div class="services">
						<span class="icon">
							<i class="icon-banknote"></i>
						</span>
						<div class="desc">
							<h3><a href="#">جورچین</a></h3>
							<p>دوره های آموزشی جورچچین به شما امکان یادگیری سریع و پویا بودن را میدهد در دوره های آموزشی جورچین شرکت کنید.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box fadeInUp animated-fast">
					<div class="services">
						<span class="icon">
							<i class="icon-lab2"></i>
						</span>
						<div class="desc">
							<h3><a href="#">جورچین</a></h3>
							<p>دوره های آموزشی جورچچین به شما امکان یادگیری سریع و پویا بودن را میدهد در دوره های آموزشی جورچین شرکت کنید.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box fadeInUp animated-fast">
					<div class="services">
						<span class="icon">
							<i class="icon-photo"></i>
						</span>
						<div class="desc">
							<h3><a href="#">جورچین</a></h3>
							<p>دوره های آموزشی جورچچین به شما امکان یادگیری سریع و پویا بودن را میدهد در دوره های آموزشی جورچین شرکت کنید.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box fadeInUp animated-fast">
					<div class="services">
						<span class="icon">
							<i class="icon-home-outline"></i>
						</span>
						<div class="desc">
							<h3><a href="#">جورچین</a></h3>
							<p>دوره های آموزشی جورچچین به شما امکان یادگیری سریع و پویا بودن را میدهد در دوره های آموزشی جورچین شرکت کنید.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box fadeInUp animated-fast">
					<div class="services">
						<span class="icon">
							<i class="icon-bubble3"></i>
						</span>
						<div class="desc">
							<h3><a href="#">جورچین</a></h3>
							<p>دوره های آموزشی جورچچین به شما امکان یادگیری سریع و پویا بودن را میدهد در دوره های آموزشی جورچین شرکت کنید.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box fadeInUp animated-fast">
					<div class="services">
						<span class="icon">
							<i class="icon-world"></i>
						</span>
						<div class="desc">
							<h3><a href="#">جورچین</a></h3>
							<p>دوره های آموزشی جورچچین به شما امکان یادگیری سریع و پویا بودن را میدهد در دوره های آموزشی جورچین شرکت کنید.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div id="fh5co-course">
		<div class="container">
			<div class="row animate-box fadeInUp animated-fast">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>جورچین</h2>
					<p>دوره های آموزشی جورچچین به شما امکان یادگیری سریع و پویا بودن را میدهد در دوره های آموزشی جورچین شرکت کنید.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 animate-box fadeInUp animated-fast">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url(http://uupload.ir/files/a6sp_computer-blocksistock_000038058868_large.jpg);">
						</a>
						<div class="desc">
							<h3><a href="#">جورچین</a></h3>
							<p>دوره های آموزشی جورچچین به شما امکان یادگیری سریع و پویا بودن را میدهد در دوره های آموزشی جورچین شرکت کنید.</p>
							<span><a href="#" class="btn btn-primary btn-sm btn-course">انتخاب کن</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box fadeInUp animated-fast">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url(http://uupload.ir/files/3tu_issues-in-education-.jpg);">
						</a>
						<div class="desc">
							<h3><a href="#">جورچین</a></h3>
							<p>دوره های آموزشی جورچچین به شما امکان یادگیری سریع و پویا بودن را میدهد در دوره های آموزشی جورچین شرکت کنید.</p>
							<span><a href="#" class="btn btn-primary btn-sm btn-course">انتخاب کن</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box fadeInUp animated-fast">
					<div class="course">
						<a href="#" class="course-img corrent_EditLink" style="background-image: url(http://uupload.ir/files/igt_education-cover.jpg);">
						</a>
						<div class="desc">
							<h3><a href="#">جورچین</a></h3>
							<p>>دوره های آموزشی جورچچین به شما امکان یادگیری سریع و پویا بودن را میدهد در دوره های آموزشی جورچین شرکت کنید.</p>
							<span><a href="#" class="btn btn-primary btn-sm btn-course">انتخاب کن</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box fadeInUp animated-fast">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url(http://uupload.ir/files/50mi_education.jpg);">
						</a>
						<div class="desc">
							<h3><a href="#">جورچین</a></h3>
							<p>دوره های آموزشی جورچچین به شما امکان یادگیری سریع و پویا بودن را میدهد در دوره های آموزشی جورچین شرکت کنید.</p>
							<span><a href="#" class="btn btn-primary btn-sm btn-course">انتخاب کن</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div id="fh5co-course">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-img-holder" style="background-image: url(http://uupload.ir/files/tq1o_education-908512_960_720.jpg );"></a>
						<div class="blog-text">
							<h3><a href="#">جورچین</a></h3>
							<span class="posted_on">فروردین ماه </span>
							<span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
							<p>دوره های آموزشی جورچچین به شما امکان یادگیری سریع و پویا بودن را میدهد در دوره های آموزشی جورچین شرکت کنید.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-img-holder" style="background-image: url(http://uupload.ir/files/emm5_early-childhood-education_mini1.jpg);"></a>
						<div class="blog-text">
							<h3><a href="#">جورچین</a></h3>
							<span class="posted_on">فروردین ماه</span>
							<span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
							<p>دوره های آموزشی جورچچین به شما امکان یادگیری سریع و پویا بودن را میدهد در دوره های آموزشی جورچین شرکت کنید..</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-img-holder" style="background-image: url(http://uupload.ir/files/0zs7_windowseducation_home_1920_device_contentplacement1_img.jpg);"></a>
						<div class="blog-text">
							<h3><a href="#">جورچین</a></h3>
							<span class="posted_on">فروردین ماه</span>
							<span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
							<p>دوره های آموزشی جورچچین به شما امکان یادگیری سریع و پویا بودن را میدهد در دوره های آموزشی جورچین شرکت کنید.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-pricing" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>جورچین</h2>
					<p>دوره های آموزشی جورچچین به شما امکان یادگیری سریع و پویا بودن را میدهد در دوره های آموزشی جورچین شرکت کنید.</p>
				</div>
			</div>
			<div class="row">
				<div class="pricing pricing--rabten">
					<div class="col-md-4 col-xs-12 animate-box">
						<div class="pricing__item">
							<div class="wrap-price">
								 <!-- <div class="icon icon-user2"></div> -->
	                     <h3 class="pricing__title">برنزی</h3>
	                     <!-- <p class="pricing__sentence">Single user license</p> -->
							</div>
                     <div class="pricing__price">
                        <span class="pricing__anim pricing__anim--1">
								<span class="pricing__currency">ریال</span>0
                        </span>
                        <span class="pricing__anim pricing__anim--2">
								<span class="pricing__period">در هر سال </span>
                        </span>
                     </div>
                     <div class="wrap-price">
                     	<ul class="pricing__feature-list">
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>

	                     </ul>
	                     <button class="pricing__action">انتخاب کن</button>
                     </div>
                  </div>
					</div>
					<div class="col-md-4 col-xs-12 animate-box">
						<div class="pricing__item">
							<div class="wrap-price">
								<!-- <div class="icon icon-store"></div> -->
	                     <h3 class="pricing__title">نقره ایی </h3>
	                     <!-- <p class="pricing__sentence">Up to 5 users</p> -->
							</div>
                     <div class="pricing__price">
                        <span class="pricing__anim pricing__anim--1">
								<span class="pricing__currency">ریال</span>79
                        </span>
                        <span class="pricing__anim pricing__anim--2">
								<span class="pricing__period">در هر سال </span>
                        </span>
                     </div>
                     <div class="wrap-price">
                     	<ul class="pricing__feature-list">
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>

	                     </ul>
	                     <button class="pricing__action">انتخاب کن </button>
                     </div>
                 </div>
					</div>
					<div class="col-md-4 col-xs-12 animate-box">
                  <div class="pricing__item">
                  	<div class="wrap-price">
                  		<!-- <div class="icon icon-home2"></div> -->
	                     <h3 class="pricing__title">طلایی</h3>
	                     <!-- <p class="pricing__sentence">Unlimited users</p> -->
							</div>
                     <div class="pricing__price">
                        <span class="pricing__anim pricing__anim--1">
								<span class="pricing__currency">ریال</span>499
                        </span>
                        <span class="pricing__anim pricing__anim--2">
								<span class="pricing__period">در هز سال </span>
                        </span>
                     </div>
                     <div class="wrap-price">
                     	<ul class="pricing__feature-list">
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>
	                        <li class="pricing__feature">جورچین</li>
	                     </ul>
	                     <button class="pricing__action">انتخاب کن </button>
                     </div>
                  </div>
               </div>
            </div>
			</div>
		</div>
	</div>


	<footer id="fh5co-footer" role="contentinfo" style="background-image: url(images/img_bg_4.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-3 fh5co-widget">
					<h3>در مور دآموزش </h3>
					<p>دوره های آموزشی جورچچین به شما امکان یادگیری سریع و پویا بودن را میدهد در دوره های آموزشی جورچین شرکت کنید..</p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 fh5co-widget">
					<h3>آموزش</h3>
					<ul class="fh5co-footer-links">
						<li><a href="#">دوره</a></li>
						<li><a href="#">وبلاگ</a></li>
						<li><a href="#">مخاطبان</a></li>
						<li><a href="#">ترم ها </a></li>
						<li><a href="#">آشنایی با ما </a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 fh5co-widget">
					<h3>رشد و آموزش</h3>
					<ul class="fh5co-footer-links">
						<li><a href="#">وبلاگ</a></li>
						<li><a href="#">حریم خصوصی</a></li>
						<li><a href="#">از زبان مشتریان</a></li>
						<li><a href="#">کتاب راهنما</a></li>
						<li><a href="#">میز کمک</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 fh5co-widget">
					<h3>ارتباط با ما </h3>
					<ul class="fh5co-footer-links">
						<li><a href="#">بازار یابی</a></li>
						<li><a href="#">Vدستیار بصری</a></li>
						<li><a href="#">آنالیز سیستم</a></li>
						<li><a href="#">تبلیغات</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 fh5co-widget">
					<h3>قانونی</h3>
					<ul class="fh5co-footer-links">
						<li><a href="#">یافتن طراحان</a></li>
						<li><a href="#">یافتن برنامه نویسان </a></li>
						<li><a href="#">تیم ها </a></li>
						<li><a href="#">تبلیغات</a></li>
						<li><a href="#">API</a></li>
					</ul>
				</div>
			</div>

			<div class="col-md-12 footerCopyright text-center" style="direction:ltr">
				<p>
					<small class="block">© 2016 Free HTML5. All Rights Reserved.</small>
					<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">jurchin.com</a>.</small>
				</p>
			</div>

		</div>
	</footer>


	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="http://karahrm.ir/public/templates/joseph/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="http://karahrm.ir/public/templates/joseph/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="http://karahrm.ir/public/templates/joseph/js/bootstrap.min.js"></script> 
	<!-- Waypoints -->
	<script src="http://karahrm.ir/public/templates/joseph/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="http://karahrm.ir/public/templates/joseph/js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="http://karahrm.ir/public/templates/joseph/js/owl.carousel.min.js"></script>
	<!-- Flexslider -->
	<script src="http://karahrm.ir/public/templates/joseph/js/jquery.flexslider-min.js"></script>
	<!-- countTo -->
	<script src="http://karahrm.ir/public/templates/joseph/js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="http://karahrm.ir/public/templates/joseph/js/jquery.magnific-popup.min.js"></script>
	<script src="http://karahrm.ir/public/templates/joseph/js/magnific-popup-options.js"></script>
	<!-- Count Down -->
	<script src="http://karahrm.ir/public/templates/joseph/js/simplyCountdown.js"></script>
	<!-- Main -->
	<script src="http://karahrm.ir/public/templates/joseph/js/main.js"></script>
	<script>
    var d = new Date(new Date().getTime() + 1000 * 120 * 120 * 2000);

    // default example
    simplyCountdown(&#39;.simply-countdown-one&#39;, {
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate()
    });

    //jQuery example
    $(&#39;#simply-countdown-losange&#39;).simplyCountdown({
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate(),
        enableUtc: false
    });
	</script>
	


			</div>




		<!-- Jorchin Content -->
		<script src="http://www.jurchin.com/editor/jorchinContent/jquery-ui.min.js" type="text/javascript"></script>
		<script src="http://www.jurchin.com/editor/jorchinContent/langs/fa.js" type="text/javascript" charset="utf-8" defer=""></script>

		<script src="http://www.jurchin.com/editor/jorchinContent/jurchinContent.js" type="text/javascript"></script>
		<script src="http://www.jurchin.com/editor/jorchinContent/saveimages.js" type="text/javascript" defer=""></script>
		<script src="http://www.jurchin.com/editor/jorchinContent/codemirror/lib/codemirror.pack.min.js" type="text/javascript" charset="utf-8" defer=""></script>




		<script type="text/javascript">

			$(document).ready(function ($) {


				var jurchinProject = $("#contentEditable").jurchinContent({
					snippetOpen: true,
					sourceEditor: true
				});

				$("#saveEdit").on("click" , function() {
					$(&#39;#contentEditable&#39;).data(&#39;jurchinContent&#39;).save("start");
					$("body").saveimages({
						handler: editorurl+&#39;save:&#39;+currpage,
						onComplete: function (res) {
							var userNewData = $(&#39;#contentEditable&#39;).data(&#39;jurchinContent&#39;).html(1);

							$(&#39;#contentEditable&#39;).data(&#39;jurchinContent&#39;).save("done");

						}
					});

					$("body").data(&#39;saveimages&#39;).save();

					return false;
				});


			});

		</script>

		<!-- Google analytics -->
		<script type="text/javascript">
			(function(i,s,o,g,r,a,m){i[&#39;GoogleAnalyticsObject&#39;]=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,&#39;script&#39;,&#39;https://www.google-analytics.com/analytics.js&#39;,&#39;ga&#39;);

			ga(&#39;create&#39;, &#39;UA-96513105-1&#39;, &#39;auto&#39;);
			ga(&#39;send&#39;, &#39;pageview&#39;);

		</script>