<!DOCTYPE html>
<!--[if IE 8 ]> <html lang="fa" class="rtl fa no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="fa" class="rtl fa no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="fa"><!--<![endif]-->
<head>

	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{pageTitle}} سایت ساز جورچین</title>


	<!-- Meta -->
	<meta name="copyright" content="Copyright © Idea proccesors company. All Rights Reserved.">
	<meta name="author" content="Jurchin Team">
	<meta name="robots" content="NOINDEX, NOFOLLOW">

	<!-- Mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">


	<!--  Social tags      -->
	<meta name="keywords" content="سایت ساز,فروشگاه ساز,جورچین,سایت ساز جورچین,فروشگاه ساز جورچین,طراحی سایت با drag&drop,طراحی سایت,طراحی ساده سایت,ساخت سایت,سایت ساز با کشیدن و رها کردن,ساخت ساده سایت,ایجاد سایت بدون برنامه نویس,ساخت فروشگاه بدون برنامه نویسی,ساخت ساخت رایگان,ساخت ساده سایت,sitesaz,size saze jurchin" >
	<meta name="description" content="{{pageDes}} - سامانه ای برای ساخت و طراحی ساده سایت با drag&drop" >

	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="سایت ساز جورچین">
	<meta itemprop="description" content="سامانه ای برای ساخت و طراحی ساده سایت با drag&drop">
	<meta itemprop="image" content="{{siteurl}}public/img/JustLogo.png">

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@jurchin_ir">
	<meta name="twitter:title" content="سایت ساز جورچین">
	<meta name="twitter:description" content="{{pageDes}} - سامانه ای برای ساخت و طراحی ساده سایت با drag&drop و مدیریت ساده .">
	<meta name="twitter:image" content="{{siteurl}}public/img/JustLogo.png">

	<!-- Open Graph data -->
	<meta property="og:title" content="سایت ساز حرفه ای جورچین" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="http://jurchin.com/" />
	<meta property="og:image" content="{{siteurl}}public/img/JustLogo.png"/>
	<meta property="og:description" content="{{pageDes}} - سامانه ای برای ساخت و طراحی ساده سایت با drag&drop و مدیریت ساده " />
	<meta property="og:site_name" content="Jurchin" />


	<!-- favIcon -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{siteurl}}public/img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{siteurl}}public/img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{siteurl}}public/img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{siteurl}}public/img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{siteurl}}public/img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{siteurl}}public/img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{siteurl}}public/img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{siteurl}}public/img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{siteurl}}public/img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{siteurl}}public/img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{siteurl}}public/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{siteurl}}public/img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{siteurl}}public/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="{{siteurl}}public/img/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{siteurl}}public/img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Stylesheets -->
	{% block stylesheets %}

	<link href="{{ asset('css/custom.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/UsedFonts/fonts.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/icons/css/jurchinIcons.css') }}" rel="stylesheet" />
		{{extraCss}}
	{% endblock %}


	<!-- Fallback JavaScript disabled in Browser -->
	<noscript>
		<meta http-equiv="Refresh" content="0; URL=nojs.html">
	</noscript>

</head>

<body>
	<!--[if lt IE 8]>
	  <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->



	<section id="properties" class="arrowAnimatePortfolio">

		<div class="Green" data-midnight="dark">

			<div class="portfolioDescription">
				<div>
				<br/>

					<h2 class="GreenMark" > خطای داخلی شماره : {{message['code']}}</h2>

					<div style="float: left;display: inline-block;font-size: 10rem;"><i class="icon jr-icon-emo-{{message['icon']}}"></i></div>

					<p class="GreenMark justify" >
						توضیح : سیستم ما دچار مشکل شده است و از این بابت متاسفیم ، شما میتوانید
						شماره خطا به همراه توضیح ثبت شده در ادامه را به بخش پشتیبانی گزارش دهید .<br/><br/>
						{{message['message']}}
					</p>
					<div>
						<a href="{{siteurl}}" target="_blank" class="GreenMark " >
							<i class="jr-icon-left-open-big"></i>
							<span class="sliding-u-l-r-l">برگشت به صفحه اصلی</span>
						</a>
					</div>
				</div>
			</div>
		</div>

	</section>






	<footer style="z-index: 12">
		<div class="socialMedia">
			<a href="https://www.linkedin.com/company/jurchin" target="_blank">
				<div class="linkedin">
					<p>لینکداین</p>
				</div>
			</a>
			<a href="https://www.instagram.com/jurchin_com" target="_blank">
				<div class="instagram">
					<p>اینستاگرام</p>
				</div>
			</a>
			<a href="https://t.me/jurchin_com" target="_blank">
				<div class="telegram">
					<p>تلگرام</p>
				</div>
			</a>
		</div>

		<div class="cf">
		</div>


        <div class="smallPrint">
            <a href="http://www.jurchin.com/laws" class="footerFont underline-hover ">قوانین استفاده</a>
            <span class="footerFont "> - </span>
            <a href="http://www.jurchin.com/faq" class="footerFont underline-hover ">سوالات متداول</a>
            <span class="footerFont "> - </span>
            <a href="http://www.jurchin.com/partners" class="footerFont underline-hover ">شرکای تجاری</a>
            <span class="footerFont "> - </span>
            <a href="http://www.jurchin.com/portfolio" class="footerFont underline-hover ">نمونه سایت ها</a>
            <span class="footerFont "> - </span>
            <a href="http://www.jurchin.com/aboutUs" class="footerFont underline-hover ">درباره ما</a>
        </div>
		<p class="footerFont">
			© 1395 Idea Processors company
		</p>
	</footer>


	<!-- Javascripts -->
	{% block javascripts %}
	<script src="{{ asset('js/jquery-3.1.0.min.js') }}"></script>
	<script src="{{ asset('js/jurchinMain.js') }}"></script>
		{{extraJs}}
	{% endblock %}

	<script type="text/javascript">
		jurchinMain.initMainPage();
	</script>

</body>
</html>
